[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "==3.6.3"
cryptography = "==3.4.8"
click = "==8.0.1"

[dev-packages]
pipenv = "*"
mypy = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3"

[scripts]
lint = "mypy ./src --ignore-missing-imports"
fmt = "black -t py38 -v --line-length 88 ./src ./tests --exclude __pycache__"
fmt-check = "black -t py38 -v --line-length 88 --check ./src ./tests --exclude __pycache__"
test = "pytest -v --cov=./src --cov-report=term-missing -v --cov-report=html ./tests/tests.py"

[pipenv]
allow_prereleases = true
