[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orjson = "*"
cryptography = "==3.4.8"
click = "*"

[dev-packages]
pipenv = "*"
mypy = "*"
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3"

[scripts]
lint = "mypy ./certsGenerator --ignore-missing-imports"
fmt = "black -t py38 -v --line-length 88 ./certsGenerator ./tests --exclude __pycache__"
fmt-check = "black -t py38 -v --line-length 88 --check ./certsGenerator ./tests --exclude __pycache__"
test = "pytest -v --cov=./certsGenerator --cov-report=term-missing -v --cov-report=html ./tests/tests.py"

[pipenv]
allow_prereleases = true
